header {
  background: linear-gradient(#1fa67b, white);
  line-height: 50px;
  color: black;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0;
}

.greet {
  font-size: 24px;
  text-align: left;
  padding-left: 50px;
}

.avatar {
  position: absolute;
  top: 3px;
  left: 0;
  width: 40px;
  border: 1px solid gray;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  text-decoration: dashed;
  color: black;
}

.logout:hover {
  color: blue;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  background: url(../images/cab_header.png) repeat-x 0 0;
  margin-bottom: 20px;
  z-index: 100;
}

.hidden {
  display: none;
}

.progress-container {
  width: 300px;
  height: 20px;
  border: 1px dotted #22daa4;
  margin-left: auto;
  margin-right: auto;
}
.progress {
  width: 0;
  height: 100%;
  background-color: #217810;
}

.info-output {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  border: 1px solid grey;
}

.buttons:not(.hidden),
.success:not(.hidden),
.errors:not(.hidden) {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.btn:hover {
  cursor: pointer;
  color: blue;
}

.success {
  border: 2px solid green;
  background-color: lightgreen;
}

.errors {
  border: 2px solid red;
  background-color: lightsalmon;
}

table {
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

th {
  background: #BCEBDD;
  color: #307517;
  text-shadow: 0 1px 1px #22daa4;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

td {
  padding: 10px 20px;
  background: #F8E391;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

td input {
  width: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
}

.footer .ver,
.footer .copyright {
  line-height: 30px;
  font-size: 10px;
}